* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
  color:#333333;
}

a:visited {
  color: rgb(226, 233, 227);
}

a:hover {
  color: #4CAF50;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.header-img1 {
  background-image: url("/imgs/dockweilercropped.jpeg");
  background-color: #4CAF50;
}

.header-img2 {
  background-image: url("/imgs/IMG_4006.jpeg");
  background-color: #4CAF50;
}

.header-img3 {
  background-image: url("/imgs/manhattanbeachpiercropped.jpeg");
  background-color: #4CAF50;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.center-proj {
  margin: auto;
  width: 100%;
  text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 200px;
    padding: 10x;
    background-color:#aaa;
    margin: 5px;
    background-repeat: no-repeat;
}

.column-card1 {
  background-image: url(/imgs/aboutme.jpg);
  height: 300px;
  display: block;
}

.column-card2 {
  background-image: url(/imgs/projects/TotalFilmBookCoverVDavisthumb.png);
  height: 300px;
  display: block;
}

.column-card3 {
  background-image: url(/imgs/gallery2/IMG_0268thumb.jpeg);
  height: 300px;
  display: block;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
  }

/* Style the footer */
.footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
    width: 100%;
    }
}

.parallax {
  /* The image used */
  background-image: url("/imgs/gallery2/dockwielerbeach.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Image Card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 4px;
}

.container-card {
  padding: 2px 16px;
}

.contact-btn:hover {
  background-color: #333333;
}

/* Responsive Gallery */
div.gallery {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 300px; 
  height: auto;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ID Card */
.card-id {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #333333;
  background-color: #199319;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
}

/*ID Card Contact Button */
.contact-btn {
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 10px;
}

/* Contact Form */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

iframe.border {
  border:none;
}
