* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

p.a {
  line-height: 1.6;
}

p.b {
  line-height: 1.6;
  display: flex;
  justify-content: center;
}

p.italic {
  font-style: italic;
}


.header h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.header h2 {
  font-size: 1.875em;
  font-weight: normal;
}


/* Style the links */
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #2a7dc7;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
}

/* Style the images */
.img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.img-hero1 {
  width:50%;
  height:auto;
}

/* Style the top scroll button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Style the footer */
.footer {
  background-color: #333;
  color: #f2f2f2;
  text-align: left;
  padding: 10px;
  text-decoration: none;
}
