/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
} 

@import "https://fonts.googleapis.com/css?family=Lato:400,700";

@font-face {
    font-family: "Audrey Tatum";
    src: url(/fonts/AudreyTatum.otf) format(.otf);
}

* {
    box-sizing: border-box;
    font-family: 'Lato', Helvetica, sans-serif;
    color: rgb(63 63 63);
}

body {
  margin: 0;
  background-color: rgba(235, 187, 4) ;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  padding: 0;
  scroll-behavior: smooth;
}

div.scroll {
  margin: 4px, 2px;
  padding: 25px;
  background-color: #F6F6F6;
  width: 100%;
  height: max-content;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  border-radius: 25px;
}

div.scroll-list {
  padding: 5px;
  background-color: #F6F6F6;
  min-width: fit-content;
  height: max-content;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  border-radius: 25px;
}

.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-image: url(/imgs/hero1.png);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;
  text-align: center;
}

.parallax-container-alt1 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-image: url(/imgs/kaleidoscopebkgd.png);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;
  text-align: center;
}

.parallax-container-alt2 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-image: url(/imgs/hellsalicia.png);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;
  text-align: center;
}


.parallax-container-alt3 {
  display: flex;
  min-height: 75vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-image: url(/imgs/aliciamusic1.png);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;
  text-align: center;
}


/* Adjust height for gap */
.buffer {
  width: 100%;
  min-height: 10vh;
  background-color: var(--color);
}

.parallax-container2 {
  flex-direction: row;
  flex-wrap: wrap;

  padding: 6rem 0;
  background-image: url(/imgs/hero8.jpeg);
  gap: 1.6em;
}

/* 
.parallax-container3 {
  flex-direction: row;
  flex-wrap: wrap;

  padding: 6rem 0;
  background-image: url(/imgs/hero6.png);
  gap: 1.6em;
}
*/


h1 {
  font-size: 3rem;
  font-weight: 700;
}

p {
    max-width: 52ch;
    padding: 1em;
    line-height: 1.5;
}

a {
  display: inline-block;
  padding: 1em 3.5em;
  border-radius: 0.3em;
  background-color: var(--color);
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

h3 {
  margin-top: 1em;
  font-size: 1.6rem;
  font-weight: 700;
}


/* Navigation */
.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: .5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 2.1em;
  font-weight: lighter;
  /* border-bottom: 1px solid rgba(255,255, 255, .3); */
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255,255, 255, .3);
}


/* Headers & Titles */
.home-header {
  background-color: rgba(235, 187, 4);
  padding-bottom: 10px;
}

.artist-name {
text-align: left;
margin: 1%;
font-size: 4em;
font-family: "Audrey Tatum";
font-weight: normal;
color: #ffffff;
}

.artist-name-large {
font-size: 5em;
font-family: "Audrey Tatum";
}

.section-header {
  font-family: "Audrey Tatum";
  font-weight: normal;
  color: white;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
  font-size: 2.5em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

/* Scrolling Buttons */
/* Scroll Down Button */
a#scroll-btn {
  position: absolute;
  height: 10em;
  width: 6.25em;
  border: 0.5em solid rgba(235, 187, 4);
  margin: auto;
  left: 0;
  right: 0;
  bottom: 6.25em;
  border-radius: 3em;
}

a#scroll-btn:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 1.2em;
  height: 1.2em;
  width: 1.2em;
  background-color: white;
  border-radius: 50%;
  animation: move-down 2s infinite;
}

@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(5.3em);
    opacity: 0;
  }
}

a#scroll-btn:after {
  position: absolute;
  content: "SCROLL DOWN";
  width: 12em;
  display: block;
  width: 12em;
  text-align: center;
  left: -4.2em;
  bottom: -2.5em;
  font-size: 1.6em;
  color: #333333;
  letter-spacing: 3px;
  font-weight: 600;
}

/* To the Top Button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 100px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: rgba(235, 187, 4); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 12px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}



/* Cards */

h2, h3, button {
  margin: 0; /* spacing for card text */
}

h2 {
  font-size: 62px;
}

h4 {
  font-size: 9px;
}

/* Cards -- using https://www.youtube.com/watch?v=osMvyD-wHjY */
.cards-section {
  position: relative;
  padding: 85px;
}

.cards-section h2 {
  text-align: center;
  width: 100%; 
  margin-bottom: 50px; /* space between top heading and cards */
}

.cards-section .cards {
  display: flex;
  flex-direction: row;
  gap: 45px; /* gap between cards */
  justify-content: center;
}

.cards-section .cards .card-single {
  width: 25%;
  height: 520px;
  background-color:#F6F6F6;
  box-shadow: 0px 4px 27px -2px (0,0,0,0.11);
  display: flex;
  flex-direction: column;
}

.cards-section .cards .card-single .card-image {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.cards-section .cards .card-single .card-image .photo-info { /* credit ribbon */
  background-color: rgba(0,0,0,0.54);
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-family: 'Lato', Helvetica, sans-serif;
}

.cards-section .cards .card-single .card-image img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  position: relative;
}

.cards-section .cards .card-single .card-content p {
  display: -webkit-box;
  overflow: hidden; /* hide extra lines */
  -webkit-line-clamp: 20; /* specify how many lines to display */
  -webkit-box-orient: vertical;
}

.cards-section .cards .card-single .card-content {
  /* width: 100%; -not necessarily needed */
  height: 60%;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.cards-section .cards .card-single .card-content button {
  width: calc(100% - 20px);
  border: 1px solid #DDDDDD;
  color: #333333;
  background-color: white;
  height: 40px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
  padding: 15px;
  font-size: 10px;
  position: absolute; /* make sure parent has a relative poistion */
  bottom: 20px; /* position button from the top down or up to keep card bottom lined up */
  right: 0;
  cursor: pointer;
}

.cards-section .cards .card-single .card-content button:hover {
  background-color: #333333;
  color: white;
  transition: all 500ms ease-in-out;
  border: none;
}

.cards-section .cards .card-single:hover { /*make the whole card zoom larger */
  transform: scaled(1.1, 1.1, 1.1);
  box-shadow: 0px 4px 27px -2px (0,0,0,0.17);
}

@media screen and (max-width:1350px) { /*make it responsive */
  .cards-section .cards {
      gap: 30px;
  }

.cards-section .cards .card-single { 
  transform: scaled(1.1, 1.1, 1.1);
  box-shadow: 0px 4px 11px -2px (0,0,0,0.17);
  }
}

@media screen and (max-width:1024px) { /*make it responsive */
  .cards-section {
      padding: 30px;
  }

  .cards-section .cards {
      gap: 50px
      flex-wrap: wrap;
  }
  .cards-section .cards .card-single {
      width: calc(50% - 60px); /* to have 2 cards per row */
  }
}

@media screen and (max-width: 500px) {
  .cards-section {
      padding: 20px;
  }

  .cards-section .cards {
      gap: 50px
  }
  .cards-section .cards .card-single {
      width: 100%
  }
}

/* Discography & Shopping */


.playlist-ul {
  font-weight: 100;
  color: #333333;
  line-height: 30px;
  list-style-type: none;
  padding: 0;
}

.btn-primary:hover {
  background-color: rgba(255,255, 255, .3);
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333333;
/*    color: rgba(1255, 255, 255, .1); */
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
  border-radius: 10px;
}

.shop-item-date {
  text-align: center;
  margin-bottom: 15px;
  color: #333333;
}

/* Albums */

.shop-item-container {
  position: relative;
  margin: 30px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  font-weight: bold;
  font-size: 1.2em;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.2em;
  color: #333333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  margin-top: 10px;
  padding-bottom: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 30%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333333;
}

.cart-quantity {
  width: 30%;
}

.cart-item-title {
  color: #333333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: auto;
  height: 75px;
  border-radius: 10px;
}

/* Remove Items Button */
.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid rgba(1255, 255, 255, .1);
  background-color: #eeeeee;
  color: #333333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  column-rule: #333333;
  font-size: 1.1em;
  margin-top: 10px;
  margin-right: 20px;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.15em;
  cursor: pointer;
}

/* Tour Schedule */

.news-item-image {
  height: 250px;
  border-radius: 10px;
  position:relative;
  left: 50%;
  transform: translateX(-50%);
}

.tour-row {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.tour-row:last-child {
  border-bottom: none;
}

.tour-item {
  display: inline-block;
  padding-right: .5em;
}

.tour-date {
  color: #555555;
  font-weight: bold;
  width: 11%;
}

.tour-city {
  width: 24%;
}

.tour-arena {
  width: 42%;
}

.tour-btn {
  max-width: 19%;
}

/* Footer */

.main-footer {
  background-color: rgba(235, 187, 4);
  color: #ffffff;
  padding: .35em 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  pad: 0 .5em;
}

/* Social Media Icons */

.footer-nav img {
  width: 30px;
  height: 30px;
}

